html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.0625rem;
}

input, button {
    font-family: 'Nunito Sans';
}

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1875rem;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 0.5rem;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}


// ===== Remove arrows from input:number ===== //
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
// =========================================== //